*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}
.manu-box{
    height: 100%;
    min-height: 100vh;
    background: url(./assets/images/board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.manu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    a{
        font-size: 20px;
        margin-bottom: 10px;
        border-radius: 50%;
        padding: 4px 8px;
        color: black;
        display: block;
        text-decoration: none;
        &:hover{
            color: #aaa;
            background-color: #eee;
            box-shadow: 0px 0px 10px 10px #eee;
        }
    }
}